[data-isi-fixed] {
    background: lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    max-height: 150px; 
}

[data-isi-fixed][aria-expanded="true"] {
    /* max-height: 20000px; */
    overflow: auto;
}

[data-isi-btn] {
    display: none;
}

[data-isi-fixed] [data-isi-btn] {
    display: block;
}

[data-component="isi"] [data-isi-btn]::after {
    content: "+"
}
[data-component="isi"][aria-expanded="true"] [data-isi-btn]::after {
    content: "-"
}

[data-isi-header] {
    display: flex;
    align-items: center;
    justify-content: space-between
}

[data-isi-btn]:focus {
    outline: 2px solid blue;
}