ul {
    margin: 0; 
    padding: 0;
    list-style-type: none;
    display: flex;
}

[data-component="tabbed-content"] {
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
}

[aria-selected="true"] {
    background: rgb(133, 252, 236);
}

@media (max-width: 660px) {
    [data-tab-mobile-stack="true"] ul {
        flex-direction: column;
    }
}