[data-active-bg] {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  [data-modal] {
    border: 2px solid yellow;
    width: 600px;
    height: 800px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    background: white;
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  [data-modal][hidden] {
    display: none;
  }

  #modal-id2 {
    width: 300px;
    height: 400px;
  }

  *:focus {
    outline: 4px solid blue;
  }

  /* Hide visually, but make accessible to screen readers. */
.sr-only {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(0,0,0,0);
  display: block;
  font-size: 1px;
  height: 1px;
  line-height: 1px;
  margin: -1px 0 0 -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  outline: 0;
  white-space: nowrap;
  width: 1px;
}