/* *,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

[data-component="header"] {
    display: block;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid black;
    background: #fff;
    transition: transform 0.5s ease-in;
}

[data-header-hidden="true"] {
    transform: translateY(-100%);
}

@media screen and (prefers-reduced-motion: reduce) {
    [data-header-hidden="true"] {
        transform: none;
    }
}

body {
    position: relative;
    height: 200vh;
    border: 1px solid red;
    
}
